<body>
  <div>
    <h2>Guide Permission Request - Refused</h2>
    <p>
      We regret to inform you that your request to become a guide in our
      service has been refused.
    </p>
    <p>
      Thank you for your interest in contributing to our community as a guide.
      While your request has been declined at this time, we encourage you to
      explore other opportunities within our service.
    </p>
    <p>
      If you have any questions or would like further clarification, feel free
      to reach out to our support team.
    </p>
    <p>
      We appreciate your understanding and hope you continue to enjoy our travel
      service.
    </p>
    <p>Best regards,</p>
    <p>Tenloc Team</p>
  </div>
</body>